<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta charset="utf-8">
</head>
<body>
<form action="{{url_for('user_index.user_loginsubmit')}}" method="post" accept-charset="utf-8">
<table>
  <tr>
    <td> 用户</td>
    <td><input value="zhangtongchuan" type="text" name="username" id="username" /></td>
  </tr>
  <tr>
    <td> 密码</td>
    <td><input value="123456" type="password" name="password" id="password" /></td>
  </tr>
  <tr>
    <td> </td>
    <td><input type="submit" value="登录" /></td>
  </tr>
</table>
</form>
</body>
</html>